.App {
  text-align: center;
}

html {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}

.translation-bar {
  margin-top: 48px;
  top: 48px;
}

.input-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: 18px;
}

.output-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60%;
  margin-top: 18px;
}

.block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  margin: 5px;
  padding-top: 0px;
  font-size: 36pt;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.block:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.output-block {
  position: relative;
  width: 100px;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  transition: all 0.25s cubic-bezier(0.62, 0.4, 0.5, 0.91);

  cursor: pointer;
  margin: 8px;
  background-color: transparent;
  border-radius: 4pt;
  border: #2760b0;
  border-width: 4px;
  border-style: solid;
}

.output-block:hover {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.55s cubic-bezier(0.62, 0.4, 0.5, 0.91);
  transform: rotatey(32deg) translatex(0px) translatey(0px);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateY(0deg) translateZ(2px);
  text-align: center;
  color: black;
  top: 6px;
  vertical-align: text-top;
}

.flip-card-back {
  transform: rotateY(-180deg) translateZ(0px);
  font-size: 10pt;
  color: black;
  overflow: hidden;
}

.pinyin {
  color: #2760b0;
  font-size: 12pt;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-left: 2px;
  margin-right: 2px;
}

.definition {
  text-align: center;
  color: black;
  font-size: 9pt;
  margin-left: 4px;
  margin-right: 4px;
}
